*.o
src/bin/Debug/src.exe
*.depend
src/src.layout
src/HRA2016
HRA2016-cli
saves/
build-src-Desktop-Debug/
src/src.pro.user
gui-compiled/
src/Makefile
HRA2016
moc_mainwindow.cpp
moc_predefs.h
doc/html
xpospi88.zip

Debug/HRA2016.exe
Debug/HRA2016.ilk
*.pdb
